# Local .terraform directories and files
**/.terraform/*
.terraform*

!.terraformrc

# .tfstate files
*.tfstate
*.tfstate.*

# Terraform local variables
terraform.tfvars
*.tfvars
*.tfvars.json
personal.auto.tfvars

# Yandex Cloud service account keys
authorized_key.json
*.key
*.pem

# Terraform lock file
.terraform.lock.hcl
