# Local .terraform directories and files
**/.terraform/*
.terraform*
terraform-provider-yandex_v0.201.0

!.terraformrc

# .tfstate files
*.tfstate
*.tfstate.*

# own secret vars store.
personal.auto.tfvars


terraform.tfvars

tfplan